.body{
    margin: 0px;
    padding: 0px;
}
.main-menu{
    width: 100%;
    height: 40px;
    background-color: brown;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.menu-items{
    display: none;
}
.iconos{
    display: flex;
}
.logo{
    width: 8rem;
}
.menu-items li{
    list-style: none;
    margin-left: 15px;
}
.iconos li{
    list-style: none;
    margin-left: 15px;
}
.menu-items li a{
    text-decoration: none;
    color: white;
}
.icon{
    text-decoration: none;
    color: white;
}
article{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
}
article section{
    width: 100%;
    height: 10rem;
    background-color: aquamarine;
}
.main-menu{
    justify-content: space-between;
}

@media screen and (min-width:600px) {
    .main-menu{
        justify-content: space-between;
    }
    .menu-items{
        display: flex;
    }
    .iconos{
        display: none;
    }
    article{
        flex-direction: row;
    }
    article section{
        width: 10rem;
        height: 100vh;
        background-color: aquamarine;
    }

}
   
    